.event-page-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 700px;
  padding: 3rem;
}

.image-container {
  width: 55%;
}

.image-container img {
  width: 100%;
  height: 500px;
}

.event-detail-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #ffffff;
}

.event-details {
  /* background-color: #ffffff; Background color of event details */
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Box shadow for event details */
}

.event-name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.event-description {
  margin-bottom: 0.5rem;
}

.event-info p {
  margin-bottom: 0.5rem;
}

.event-options {
  margin-top: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.register-button,
.interest-button {
  padding: 1rem 1rem;
  font-size: 1rem;
  margin: 1rem;
  background-color: #007bff; /* Button background color */
  color: #ffffff; /* Button text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover,
.interest-button:hover {
  background-color: #0056b3; /* Button hover background color */
}
